@font-face {
  font-family: 'ZenKakuBlack';
  src: local('ZenKakuBlack'), url(../fonts/ZenKakuGothicNew-Black.ttf) format('truetype');
}

@font-face {
  font-family: 'ZenKakuBold';
  src: local('ZenKakuBold'), url(../fonts/ZenKakuGothicNew-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'ZenKakuMedium';
  src: local('ZenKakuMedium'), url(../fonts/ZenKakuGothicNew-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'LeagueSpartan';
  src: local('LeagueSpartan'), url(../fonts/LeagueSpartan-SemiBold.ttf) format('truetype');
}

body{
  margin: 0;
}